[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.9.3"
bs4 = "==0.0.1"
certifi = "==2020.12.5"
chardet = "==4.0.0"
datasketch = "==1.5.3"
idna = "==2.10"
numpy = "==1.19.5"
pathlib = "==1.0.1"
requests = "==2.25.1"
selenium = "==3.141.0"
soupsieve = "==2.1"
urllib3 = "==1.26.3"
matplotlib = "*"
mysql-connector-python = "*"
objgraph = "*"

[dev-packages]

[requires]
python_version = "3.8"
